.downloadbar{
    position: absolute;
    bottom: 0%;
    justify-content: center;
    text-align: center;

    background-color: rgb(94, 0, 91);

    left: 33%;
    width: 33%;
    height: 25px;

    color: white;
}

.progressbar{

    margin-left:    10%;
    margin-top:     7px; 

    display:flexbox;
    position:static;

    width: 80%;
    height: 7px;

    background-color: white;
}

.progress{
    background-color: orange;
}